USE [master]
GO
/****** Object:  Database [ElectionsDb]    Script Date: 2025-11-03 1:43:53 PM ******/
CREATE DATABASE [ElectionsDb] ON  PRIMARY 
( NAME = N'ElectionsDb', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ElectionsDb.mdf' , SIZE = 167936KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ElectionsDb_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ElectionsDb_log.ldf' , SIZE = 57664KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElectionsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElectionsDb]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 2025-11-03 1:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
 CONSTRAINT [PK_Candidates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidatesStatistics]    Script Date: 2025-11-03 1:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidatesStatistics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NULL,
	[NumberOfVoters] [int] NOT NULL,
	[Date] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
 CONSTRAINT [PK_CandidatesStatistics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025-11-03 1:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[Role] [int] NULL,
	[SchoolName] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoterInfo]    Script Date: 2025-11-03 1:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoterInfo](
	[Name] [nvarchar](max) NULL,
	[Serial] [nvarchar](max) NULL,
	[SubCommitteeNumber] [nvarchar](max) NULL,
	[GeneralCommittee] [nvarchar](max) NULL,
	[School] [nvarchar](max) NULL,
	[Village] [nvarchar](max) NULL,
	[Center] [nvarchar](max) NULL,
	[IsAttent] [bit] NOT NULL,
	[AttendBy] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Candidates] ON 

INSERT [dbo].[Candidates] ([Id], [Name], [IsDeleted], [DeletedOn]) VALUES (0, N'حسن', 0, NULL)
INSERT [dbo].[Candidates] ([Id], [Name], [IsDeleted], [DeletedOn]) VALUES (2, N'اغاغااغاغاغ', 0, NULL)
INSERT [dbo].[Candidates] ([Id], [Name], [IsDeleted], [DeletedOn]) VALUES (3, N'اغاغا', 1, CAST(N'2025-11-02T14:21:36.110' AS DateTime))
SET IDENTITY_INSERT [dbo].[Candidates] OFF
GO
SET IDENTITY_INSERT [dbo].[CandidatesStatistics] ON 

INSERT [dbo].[CandidatesStatistics] ([Id], [CandidateId], [NumberOfVoters], [Date], [IsDeleted], [DeletedOn]) VALUES (1, 0, 55, CAST(N'2025-11-29T00:00:00.000' AS DateTime), 0, NULL)
INSERT [dbo].[CandidatesStatistics] ([Id], [CandidateId], [NumberOfVoters], [Date], [IsDeleted], [DeletedOn]) VALUES (2, 2, 99, CAST(N'2025-11-02T00:00:00.000' AS DateTime), 0, NULL)
INSERT [dbo].[CandidatesStatistics] ([Id], [CandidateId], [NumberOfVoters], [Date], [IsDeleted], [DeletedOn]) VALUES (3, 2, 500, CAST(N'2025-11-02T00:00:00.000' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[CandidatesStatistics] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [EmployeeName], [UserName], [Password], [CreatedOn], [Role], [SchoolName], [IsDeleted], [DeletedOn]) VALUES (0, NULL, N'frf', N'BukV4VdWmQSdGf/t026Lrw==', NULL, 2, N'مدرسة الخصاص للتعليم الساسى مركز سنورس - قرية الخصاص', 1, CAST(N'2025-11-02T13:53:08.827' AS DateTime))
INSERT [dbo].[Users] ([Id], [EmployeeName], [UserName], [Password], [CreatedOn], [Role], [SchoolName], [IsDeleted], [DeletedOn]) VALUES (1, N'مدير النظام', N'Admin', N'OZs0TuQNjBFzsAGzEIS5zQ==', NULL, 1, NULL, 0, NULL)
INSERT [dbo].[Users] ([Id], [EmployeeName], [UserName], [Password], [CreatedOn], [Role], [SchoolName], [IsDeleted], [DeletedOn]) VALUES (2, NULL, N'rfrf', N'1CiNliu4cdGgrn+rbK5deg==', NULL, 2, NULL, 1, CAST(N'2025-11-02T14:03:26.123' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Candidates] ADD  CONSTRAINT [DF_Candidates_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CandidatesStatistics] ADD  CONSTRAINT [DF_CandidatesStatistics_NumberOfVoters]  DEFAULT ((0)) FOR [NumberOfVoters]
GO
ALTER TABLE [dbo].[CandidatesStatistics] ADD  CONSTRAINT [DF_CandidatesStatistics_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[VoterInfo] ADD  CONSTRAINT [DF_VoterInfo_IsAttent]  DEFAULT ((0)) FOR [IsAttent]
GO
ALTER TABLE [dbo].[CandidatesStatistics]  WITH CHECK ADD  CONSTRAINT [FK_CandidatesStatistics_Candidates] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[Candidates] ([Id])
GO
ALTER TABLE [dbo].[CandidatesStatistics] CHECK CONSTRAINT [FK_CandidatesStatistics_Candidates]
GO
ALTER TABLE [dbo].[VoterInfo]  WITH CHECK ADD  CONSTRAINT [FK_VoterInfo_Users] FOREIGN KEY([AttendBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VoterInfo] CHECK CONSTRAINT [FK_VoterInfo_Users]
GO
USE [master]
GO
